File cleaning Of 
"marketing_sample_for_indeed_co_in-indeed_co_in_job_data__20211001_20211231__30k_data"

In [3]:
import pandas as pd
import json

In [7]:
df1 = pd.read_csv(r"E:\Job_Market_Analysis\Kaggle_data\Data Analyst_Science\NaukriData_Data Science.csv")
df1.to_excel("NaukriData_Data Science.xlsx", index = 0)

In [2]:
df = pd.read_json("E:\Job_Market_Analysis\Kaggle_data\marketing_sample_for_indeed_co_in-indeed_co_in_job_data__20211001_20211231__30k_data.ldjson\marketing_sample_for_indeed_co_in-indeed_co_in_job_data__20211001_20211231__30k_data.ldjson", lines=True)

<>:1: SyntaxWarning: invalid escape sequence '\J'
<>:1: SyntaxWarning: invalid escape sequence '\J'
C:\Users\Gourav Banjara\AppData\Local\Temp\ipykernel_18556\2171958801.py:1: SyntaxWarning: invalid escape sequence '\J'
  df = pd.read_json("E:\Job_Market_Analysis\Kaggle_data\marketing_sample_for_indeed_co_in-indeed_co_in_job_data__20211001_20211231__30k_data.ldjson\marketing_sample_for_indeed_co_in-indeed_co_in_job_data__20211001_20211231__30k_data.ldjson", lines=True)

In [ ]:
df.head(5)

In [ ]:
del df['uniq_id']
del df['url']
del df['logo_url']
del df['country']
del df['run_forced']
del df['job_desc_char_count']
del df['ijp_reprocessed_flag_1']
df.head(5)
df.columns

In [ ]:
df['fitness_score'].head(5)

In [6]:
needed_data = pd.DataFrame({'timestamp':df['crawl_timestamp'], 'Job Title':df['job_title'], 'category':df['category'],'city':df['city'],
                            'post_date':df['post_date'],'job_description':df['job_description'],'job_type':df['job_type'],'job_board':df['job_board'],
                            'postdate_yyyymmdd':df['postdate_yyyymmdd'],'has_expired':df['has_expired'],'dataset':df['dataset']})

In [ ]:
del needed_data['dataset']
del needed_data['postdate_yyyymmdd']
del needed_data['has_expired']
del needed_data['timestamp']
needed_data['Job Title'].head(60)

In [8]:
list = ['Business Analyst','Data Science Analyst','Marketing Analyst','Operations Analyst','Financial Analyst','Data Scientist',
        'BI Analyst','Reporting Analyst','Product Analyst','Data Visualization Analyst','Data Engineer', 'Junior Data Scientist', 'Junior Data Analyst', 
        'Data Analyst Junior']
pattern = '|'.join(list)

In [9]:
filtered_data = needed_data[needed_data['Job Title'].str.contains(pattern, case=False, na=False)]
needed_data.columns
filtered_data.shape

(578, 7)

In [10]:
filtered_data.reset_index(drop = True, inplace = True, col_fill="Sr_No", col_level=3)
filtered_data.index+=1

In [11]:
filtered_data.head(5).sort_values('post_date', ascending=False)

,Job Title,category,city,post_date,job_description,job_type,job_board
3,Financial Analyst India,Manufacturing,Punjab,2021-12-31,The Financial Analyst will be responsible for ...,Full-time,indeed
1,Business Analyst,Management,Kochi,2021-12-15,Job Description – Requirement/Business Analyst...,Full-time,indeed
4,Calypso Back Office Business Analyst,Consultant,Chennai,2021-11-23,Project Description We have been engaged by a ...,Full-time,indeed
2,Data Scientist,Scientific,Hyderabad,2021-11-09,"At Franklin Templeton, everything we do is foc...",Full-time,indeed
5,Business Analyst,IT,Mumbai,2021-10-03,Business Analyst - Della Leaders Club - Mumbai...,Full-time,indeed

In [13]:
filtered_data['Job_Title'] = filtered_data['Job Title']
del filtered_data['Job Title']
filtered_data.Job_Title.unique()

C:\Users\Gourav Banjara\AppData\Local\Temp\ipykernel_18556\719131940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Job_Title'] = filtered_data['Job Title']

array(['Business Analyst', 'Data Scientist', 'Financial Analyst India',
       'Calypso Back Office Business Analyst',
       'Business Analyst - Life Sciences', 'Senior Data Engineer - GAMMA',
       'Job | Data Scientist( permanent Remote working)',
       'Senior Business Analyst',
       'Senior Business Analyst- Accounting | 10 To 12 Years | Chennai & Bangalore',
       'Data Scientist-1', 'Big Data Engineer',
       'Bioprocess Data Scientist',
       'Remote Senior Data Engineer (SQL, Python, Scala, Java, and C#)',
       'Financial Analyst, IN Operations', 'Data Engineer',
       'CIB - Securities Services Operations - Business Analyst - Team Leader',
       'Sr. Reporting Analyst', 'Big Data Engineer ( Hadoop + Java)',
       'Financial Analyst', 'Data Engineer: Master Data Management',
       'Business Analyst(Junior Analyst)', 'Mgr-Data Engineering',
       'Lead Consultant - Business Analyst',
       'Data Engineer: Data Modeling',
       'Snowflake Data Engineer | 4 to 6 years | Bengaluru & Hyderabad',
       'Data Engineer: Big Data', 'Azure Data Engineer',
       'Specialist - Data Engineering', 'Sales Operations Analyst',
       'Business Analyst: ADM', 'Data Engineer: Data Integration',
       'DG - Business Analyst - Order Management',
       'Operations Analyst - Mutual Fund Operations',
       'BUSINESS ANALYST SUPPORT', 'Project Financial Analyst',
       'Big Data Engineering Developer',
       'Data Engineer: Advanced Analytics',
       'Assistant Manager - Data Engineer',
       'DG - Business Analyst - Transactional Buyer & Fulfillment Specialist',
       'Chapter Lead Data Engineer',
       'Business Analyst II, Bookings Operations Bangalore, Karnataka',
       'Consultant, Business Analyst',
       'Business Analyst, Tech Product Management',
       'Team Lead - Cloud Data Engineer', 'Process Data Engineer',
       'Business Analyst Generic | 6 to 9 years | Mumbai & Bengaluru',
       'Reporting Analyst - Contractual position',
       'RISK BUSINESS ANALYST', 'Senior Business Analyst - Technical',
       'Data Engineer: Data Warehouse', 'Business Analyst - SAP EHS',
       'Data Scientist - GoFood', 'Technical Business Analyst',
       'RPA Business Analyst', 'Lead Data Scientist',
       'Business Analyst cum Project Manager',
       'Business Analyst I - Home Lending Servicing',
       'Tech Lead - Data Engineer',
       'Data Engineer: Business Intelligence',
       'Reporting Analyst - Gurgaon, HR',
       'Business analyst with Investment and Regulatory knowledge',
       'Data Scientist - MLE Ops (Loyalty, Partnership & Monetisation)',
       'Senior Data Engineer',
       'Business Analyst I - Regulatory Services Analytics and Reporting',
       'Opportunity For Business Analyst with leading ecommerce company',
       'Product Analyst', 'Technical & Business Operations Analyst',
       'Advisor, Data Engineering',
       'Principal Consultant – Business Analyst',
       'Senior Process Data Engineer', 'Business Analyst (Online Bidder)',
       'Tech Consulting- D&A- Data Engineer-Senior-42-3',
       'Data Engineering Application Developer', 'Operations Analyst',
       'Customer Service & Operations Analyst',
       'Regulatory & SEC reporting Analyst',
       'Process Architecture Business Analyst',
       'Big Data Engineer - Tech Lead', 'IT Recruitment Business Analyst',
       'Sr. Data Engineer',
       'Remote Data Engineer (Azure Cognitive Services and Azure PaaS)',
       'Data Engineer I', 'Bigdata Engineer -Spark Graduate',
       'Dir, Data Engineering', 'Data Scientist, Senior Analyst',
       'Associate Business Analyst- Spiceworks',
       'Data Engineering Associate',
       'Credit Risk IT Business Analyst, AVP',
       'Senior Applied Data Scientist',
       'CIB - Market Operations - Payments Operations - Operations Analyst',
       'Business Analyst, Financial Systems',
       'Engr III Cslt-Data Engineering',
       'CIB - Market Operations - Payment Lifecycle Specialist - Operations Analyst',
       'Business Operations Analyst',
       'Deputy Manager_Senior Analyst_Data Engineer_Pune',
       'CIB- Wholesale Payment Operations - Business Analyst & Reporting Analyst - Associate',
       'Data Engineer – Bengaluru', 'Data Scientist Lead',
       'Lead Business Analyst', 'DATA SCIENTIST- (4 positions )',
       'WFM Reporting Analyst', 'Senior Financial Analyst',
       'Product Analyst- (SQL/Tableau/Digital)',
       'Associate Business Analyst-Financial Systems',
       'Business Analyst with ETL - GRPK', 'Lead Data Engineer',
       'Manager - Data Engineering',
       'Client Technology Customer Success Senior Data Engineer, Assistant Director',
       'Senior Business Analyst Oracle Finance',
       'CIB - Securities Services Operations - Fund Servicing Specialist IV - Operations Analyst',
       'Senior Staff Data Scientist View Jobs',
       'Consultant, Business Analyst (4.5-6 years)',
       'Data Scientist: Artificial Intelligence',
       'Operations Analyst - India',
       'Data Engineering Consultant - Gurgaon, HR',
       'CIB - Wholesale Payment Operations - Payment Lifecycle Specialist - Operations Analyst',
       'Senior Cloud Data Engineer 1',
       'Business Analyst- E Trading(FXall/360 T)',
       'Professional 1 Business Analyst (51005644)',
       'Sr. Business Analyst',
       'Deputy Manager_Assistant Lead-ERP- Data Scientist_Pune',
       'Associate Financial Analyst', 'Data Engineer II',
       'Business Analyst/Developer', 'Graduate Data Engineer',
       'Manager - IT Business Analyst - Bangalore',
       'CIB - SECURITIES SERVICES OPERATIONS - Client Data Specialist IV - Operations Analyst',
       'Senior Manager - Forecasting data scientist',
       'Strategic Business Analyst', 'Customer Operations Analyst',
       'DG - Business Analyst - Data Visualization',
       'Big Data Analysis Tool and Techniques Digital Data Engineering Practitioner',
       'Sr. Operations Analyst', 'Principal Data Scientist',
       'Sr. IT Sourcing Business Analyst', 'Reporting Analyst II',
       'Fund Operations Analyst',
       'DG - Business Analyst - Product Technical writing engineer',
       'Business Analyst - RnF | Financial Markets',
       'Sr. RPA Business Analyst', 'Data Scientist & ML Engineer Lead DL',
       'Senior Big Data Engineer', 'Data Scientist (Techn) Job stage 7',
       'Lead Engineer – Data Engineering', 'Junior Business Analyst',
       'Business Analyst- SAP Business Objects',
       'Business Analyst (French )', 'Sr. Operations Analyst- India',
       'Reporting Analyst', 'DG - Business Analyst - Software Testing',
       'Senior Process Data engineer-Process control',
       'Business Analyst Freshers',
       'Business Analyst | Mumbai or Chennai',
       'Associate Business Analyst', 'Senio Executive - Data Scientist',
       'Cloud Data Engineer Trainer',
       'Senior Business Analyst/Markets Securities Services',
       'Security Operations Analyst', 'Senior Business Analyst - TSO',
       'Manager - Business Analyst ( Treasury & Finance )',
       'Business Analyst- Duck Creek',
       'Senior Business Analyst – Corporate Strategic Initiatives',
       'Business Analyst (Timings 2:00PM -11:00PM)',
       'Data Scientist: Advanced Analytics',
       'Senior Product Analyst (Ad Monetization)- Glance',
       'Advanced Analytics Expert - Data Scientist',
       'Collateral Operations Analyst', 'Operations Analyst 4',
       'Experienced Data Scientist',
       'Senior Information Security Operations Analyst',
       'Celonis -Data Scientist-TTS Automation and Workflow Technologies',
       'GCP Data Engineer (ONSITE - EUROPE)',
       'Sr Data Engineer (Snowflake)',
       'Hiring for Business Analyst @ Kochi for a leading IT Co.',
       'Airline Business Analyst', 'WFM & BI Analyst',
       'Senior Contract and Sales Operations Analyst',
       'Senior Data engineer', 'Senior Data Engineer-Manufacturing',
       'Data Scientist II', 'Senior Marketing Analyst, Content',
       'Business Analyst - Supply Chain',
       'Agile Business Analyst/Group Data Technology',
       'Senior Data Scientist', 'Data Scientist- IT Manager',
       'Business Analyst, Technology', '4A_Data Scientist_Lead',
       'java and bigdata engineer',
       'Senior Specialist - Data Engineering',
       'CIB - Markets - E-Trading Middle Office - Operations Analyst',
       'Data Analyst - Financial Analyst',
       'Product Owner / Business Analyst', 'Lead Business Analyst- AML',
       'Sr Business Analyst - Sales Support', 'Sr Business Analyst IND',
       'Deputy Manager_Assistant Lead_Data Engineer_Bangalore/Pune',
       'PHP,UI, UX Developer, Digital,Business, Marketing Analyst , testing.',
       'Data Engineering - Associates- PwC Labs Bangalore',
       'Business Analyst- Analytics',
       'Business Analyst - Global Supplier Management',
       'Business Analyst (Finance/ Capital Markets)',
       'Business Analyst - (New Grad) - India UHR',
       'Business Analyst (Workforce Analyst)',
       'Lead Data Engineer - Scala', 'DevOps Engineer - Data Engineering',
       'Finance Operations Analyst', 'AVP - Java Big Data Engineer',
       'Digital Marketing Analyst',
       'CIB - Reference Data Operations - Data Specialist - Operations Analyst',
       'Business Operations Analyst 2',
       'Senior Business Analyst for AHD/ HYD',
       'CIEL/SEL/22515: Business Analyst', 'Business Analyst, NJS',
       'Data Engineer-Redshift',
       'Metrics - Analytics and Reporting Analyst',
       "Business Analyst - Founder's Office", 'Systems/Business Analyst',
       'Data Engineer: Enterprise Content Management',
       'Business Analyst(Pre sales)',
       'Business Analyst - Supply Planning', 'Data Engineer-Azure Cloud',
       'Strategic Business Analyst I', 'Specialist, Data Engineer',
       'Data Scientist(Speech Technologies)',
       'Business Analyst/Project Manager',
       'Manager / SM - Business Analyst',
       'Business Analyst - Finance Domain - Immediate to 30days',
       'Business Analyst – Digital Marketing',
       'Client Technology Customer Success PMO Financial Analyst 1',
       'Financial Analyst - Finance Centre of Excellence',
       'Business Operations Analyst - Team Leader',
       'Experienced Software Engineer - Azure Data Engineer',
       'Lead Data Engineer - Product',
       'Senior Business Analyst - Research Technology',
       'AWM - Client Ops Specialist -Operations Analyst',
       'Remote Data Scientist (Machine Learning, Python, SQL, and AWS)',
       'Stage Data Scientist - Deep Learning - en Télétravail',
       'Product Analyst II', 'Associate Data Engineering Manager',
       'Business Analyst | 4 to 6 years | Noida & Bangalore',
       'Business Analyst - OTC', 'Sr.Engineer-BI Analyst',
       'Hyderabad Drive_Principal(Data Engineer)',
       'Application Engineer - Data Engineering',
       'CIB - Securities Services Operations - Fund Services Specialist IV - Operations Analyst',
       'Transaction Processing Specialist - Operations Analyst',
       'Data Scientist-GTS Analytics',
       'Advisor, Data Engineering (SSRS Developer)',
       'Associate Data Engineer (PDS)',
       'Business Analyst - Financial Crime',
       'Senior Data Engineer- Power BI - Gurgaon, HR',
       'Website Project Coordinator | Business Analyst',
       'Consulting/Principal Software Data Engineer',
       'Manager_Lead-ERP_Data Scientist_Pune',
       'Business Analyst - Analytics', 'Data Scientist III b',
       'SAP Business Warehouse HANA Data Engineer (Technical)',
       'Data Engineer - Postgres, Golden Gate',
       'EY GDS - D&A- Staff-Cloud Data Engineer(AWS + Spark )-44-4',
       'CIB - Securities Service’s Operations - Fund Servicing Specialist IV - Operations Analyst',
       'Senior Product Analyst', 'Senior reporting Analyst',
       'Business Analyst II- Data Sciences and Advanced Analytics Bangalore, Karnataka',
       'DG - Business Analyst - Data Scientist',
       'Sales Operations Reporting Analyst',
       'Data Scientist II, Product Analytics',
       'Financial Analyst-RTR specialist',
       'Business Analyst ( Software Company )',
       'Lead Business Analyst - Instant Payments (SEPA)',
       'Operations Analyst 1',
       'Remote Principal Data Scientist (Pandas/Jupyter or R/Rstudio)',
       'Job Profile Information Security Operations Analyst II',
       'Teamcenter – Business Analyst/5+Yrs/Bangalore',
       'Pre-sales Business Analyst', 'Expert IT Business Analyst',
       'Talent Operations Analyst', 'Business Analyst - CAT Modelling',
       'Personal Assistant/Reporting Analyst', 'AP Data Engineer',
       'Business Analyst ( Scrum Master)',
       'Sr. Financial Analyst Bangalore, Karnataka',
       'R-08838 Senior Data Engineer',
       'Big Data Engineer - Wallet & Apple Pay',
       'Data Engineer – Pune – now WFH',
       'DX Services_BA&PO_ Business Analyst',
       'Business Analyst - Supply Chain Analytics', 'BUSINESS ANALYST',
       'Senior Executive Assistant & Reporting Analyst',
       'EY GDS - D&A- Senior - Azure Cloud Data Engineer- 42-2',
       'Data Engineer - Low code NO code developer', 'Business analyst',
       'CIB - Trade Lifecycle Specialist IV - Operations Analyst',
       'Financial Analyst 5',
       'Lead Business Analyst/Associate Consultant - FX/Treasury Domain',
       'Business Intelligence Data Engineer (m/f/x)',
       'Sr Data Scientist / Data Science Lead',
       'Business Analyst at MicroNXT', 'Salesforce Business Analyst',
       'Data Scientist II View Jobs', 'Business Analyst - Finance Domain',
       'Hiring IT Business Analyst - SDLC',
       'Control Assurance Service Delivery & Reporting Analyst',
       'Data Scientist – Hybrid Modeling & Process control',
       'Sr. Data Scientist (Computer Vision, Object Detection)',
       'AWM - Wealth Management - Mortgage Processing Specialist -Operations Analyst',
       'Senior Business Analyst - Data Architect/Engineer',
       'Data Engineer Sr. – ESS', 'Business Analyst (oil and gas)',
       'Staff Data Engineer', 'Associate Data Scientist',
       'Professional - Data Engineering', 'Data Scientist 3',
       'Celonis-Data Scientist /Data Engineer',
       'Data Engineer _ 3-6 years _ Wealth Management Technology',
       'ICG Analytics: Deal Intelligence (Business Analyst - C09)',
       'Lead Business Analyst/Wealth & Personal Banking IT',
       'Business Analyst IV (T)', 'Business Analyst (Intern) - India UHR',
       'Data Scientist IRC132025', 'Process Data Engineer - F and E',
       'Business Analyst_Digital - Senior Associate - Bangalore',
       'CIB - Wholesale Payment Operations Payment Lifecycle Analyst - Operations Analyst',
       'Business Analyst III', 'Financial Analyst II',
       'IT Business Analyst (Regulatory Reporting), ENO',
       'Business Analyst - Intern', 'Senior Executive - Business Analyst',
       'Remote Data Scientist (Python)', 'Channel Operations Analyst',
       'Financial Analyst - AMZL South, India AMZL Finance',
       'Executive - Network Operations Analyst',
       'India -- Senior Business Analyst- Streamline- Chennai',
       'BigData Engineer', 'Data Scientist - RI', 'Data Engineer - 1'],
      dtype=object)

In [ ]:
list_values = ['Business Analyst','Data Science Analyst','Marketing Analyst','Operations Analyst','Financial Analyst','Data Scientist',
        'BI Analyst','Reporting Analyst','Product Analyst','Data Visualization Analyst','Data Engineer', 'Junior Data Scientist', 'Junior Data Analyst', 
        'Data Analyst Junior']

for i, row in filtered_data.iterrows():
    for i1 in list_values:
        # if (row['Job_Title'].contains(list_values(i1), case = False, na = False)):
        if(i1.lower() in row['Job_Title'].lower()):
            filtered_data.at[i, 'Job_Role'] = i1
            
filtered_data

In [22]:
filtered_data.shape

(578, 8)

In [16]:
filtered_data.Job_Role.nunique()

9

In [17]:
filtered_data.to_excel('E:\Job_Market_Analysis\Kaggle_data\marketing_sample_for_indeed_co_in-indeed_co_in_job_data__20211001_20211231__30k_data.ldjson\Data_Science_Indeed.xlsx', index = False)

<>:1: SyntaxWarning: invalid escape sequence '\J'
<>:1: SyntaxWarning: invalid escape sequence '\J'
C:\Users\Gourav Banjara\AppData\Local\Temp\ipykernel_18556\1426773223.py:1: SyntaxWarning: invalid escape sequence '\J'
  filtered_data.to_excel('E:\Job_Market_Analysis\Kaggle_data\marketing_sample_for_indeed_co_in-indeed_co_in_job_data__20211001_20211231__30k_data.ldjson\Data_Science_Indeed.xlsx', index = False)