In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_excel("E:\Job_Market_Analysis\Kaggle_data\Tech_job_Market_in_india\Tech_Job_market.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\J'
<>:1: SyntaxWarning: invalid escape sequence '\J'
C:\Users\Gourav Banjara\AppData\Local\Temp\ipykernel_12164\850510590.py:1: SyntaxWarning: invalid escape sequence '\J'
  df = pd.read_excel("E:\Job_Market_Analysis\Kaggle_data\Tech_job_Market_in_india\Tech_Job_market.xlsx")

In [6]:
df.head(5)

,Job Title,Location,Salary/year,Locality,City,State
0,Robotics / STEM Trainer,"Indore, Madhya Pradesh",270000.0,NaN,Indore,Madhya Pradesh
1,HTML Developers - Freshers,"Banaswadi, Bengaluru, Karnataka",NaN,Banaswadi,Bengaluru,Karnataka
2,Java Developers - Freshers,"Banaswadi, Bengaluru, Karnataka",NaN,Banaswadi,Bengaluru,Karnataka
3,"Teachers - Pre-Primary and Primary (English, M...","Pulivendla, Andhra Pradesh",300000.0,NaN,Pulivendla,Andhra Pradesh
4,College Student,Remote,210000.0,Remote,Remote,Remote

In [ ]:
role_map = {    'Business Analyst':['Business Analyst','BI Analyst'],
                'Data Analyst' :   ['Data_Analyst','Marketing Analyst','Reporting Analyst','Product Analyst',
                                'Junior Data Analyst', 'Data Analyst Junior','Data Visualization Analyst','Analyst'],
                'Data Scientist':['Data Scientist','Junior Data Scientist','Data Science Analyst', 'Data Science'],
                'Operation Analyst':['Operations Analyst'],
                'Financial Analyst':['Financial Analyst'],
                'Data Engineer':['Data Engineer','Database Engineer','Database'],  
                'SQL Developer':['SQL Developer','SQl'],
                'Software Engineer':['Software Engineer','Software'],
                'Web Developer':['Web Developer', 'Web Development', 'WordPress', 'Full Stack'],
                '.Net Developer': ['.Net Developer','Dot Net Developer' ] , 
                'IOS Developer':['IOS Developer','IOS'],
                'Python Developer':['Python Developer', 'Python'],
                'Java Developer':['Java Developer','Java'],
                'C/C++ Developer':['C/C++_Developer','C/C++','C++'],
                'Javascript Developer':['Javascript_Developer','Javascript','React JS','Reactjs','Nodejs','Node JS', 'JS Developer'],
                'Technical Support_Engineer' : ['Technical_Support_Engineer','Technical', 'Tech Support', 'Technical Support'],
                'Application Developer':['Application_Developer'],
                'Frontend Developer': ['Frontend','HTML','CSS'],
                'Backend Developer':['Backend'],
                'Mechenical Engineer':['Mechenical'],
                'Civil Engineer' : ['Civil'],
                'PHP Developer':['PHP'],
                'Android Developer':['Android'],
                'Digital Marketing':['Digital Marketing','SEO','Search Engine Optimization'],
                'Cloud Engineer':['Cloud Enginner','Azure','AWS'],
                'Testing Developer': [ 'Testing', 'Software Testers'],
                'UI/UX Engineer':['UI','UX','UI/UX'],
                'Game Developer':['Game'],
                'Data Entry Operator':['Data Entry'],
                'Customer Support':['Customer Support'],
                'Mobile App Developer':['Mobile App Developer', 'Mobile'],
                'AI_Engineer':['Ai', 'ML','AIML','Artificial Intelligence','AI/ML' 'Machine Learning']
                }

In [4]:
def map_job_role(title):
    title = str(title).lower()
    for role, patterns in role_map.items():
        for pattern in patterns:
            if pattern.lower() in title:
                return role
    return None

In [ ]:
df['Job_Role'] = df['Job Title'].apply(map_job_role)

In [19]:
df.head(50)
df = df[df['Job_Role'].notnull()]

In [23]:
df.head(20)
df.reset_index(drop=True, inplace=True)
df.index+=1

In [27]:
df.to_excel('Tech_Jobs_Market.xlsx', index=0)

Top_IT_Jobs_Data_Cleaning

In [5]:
df2 = pd.read_csv("E:\Job_Market_Analysis\Kaggle_data\Data Analyst_Science\Data Science_Jobs .csv")

<>:1: SyntaxWarning: invalid escape sequence '\J'
<>:1: SyntaxWarning: invalid escape sequence '\J'
C:\Users\Gourav Banjara\AppData\Local\Temp\ipykernel_9280\2709722768.py:1: SyntaxWarning: invalid escape sequence '\J'
  df2 = pd.read_csv("E:\Job_Market_Analysis\Kaggle_data\Data Analyst_Science\Data Science_Jobs .csv")

In [7]:
df2.head()

,Job Title,Company Name,Location,Experience,Salary,Job Description,Skills,Unnamed: 7
0,Data Scientist,Uplers,Hybrid - Bengaluru,0-4 Yrs,19-27.5 Lacs PA,Shift : 10:00AM to 7:00PM ISTBachelors / Maste...,"Python, TensorFlow, Computer Vision, Flink, Re...",NaN
1,Business Analyst / Data Scientist,CBRE,Hybrid - Bengaluru,0-4 Yrs,19-27.5 Lacs PA,Shift : 10:00AM to 7:00PM ISTBachelors / Maste...,"Data Visualization, Tableau, Analytics, Busine...",NaN
2,Data Scientist - AI/ML,Trent Limited,Hybrid - Bengaluru,0-4 Yrs,19-27.5 Lacs PA,Shift : 10:00AM to 7:00PM ISTBachelors / Maste...,"Artificial Intelligence, Machine Learning, Dat...",NaN
3,Data Scientist,Fortune 500 IT Services Company,Hybrid - Bengaluru,0-4 Yrs,19-27.5 Lacs PA,Shift : 10:00AM to 7:00PM ISTBachelors / Maste...,NaN,NaN
4,Data Scientist,Foreign IT Consulting MNC,Hybrid - Bengaluru,0-4 Yrs,19-27.5 Lacs PA,Shift : 10:00AM to 7:00PM ISTBachelors / Maste...,NaN,NaN

In [40]:
df2[df2['Job_Role'].isnull()].count()

Job Title          1233
Company Name       1233
Location           1233
Experience         1233
Salary             1233
Job Description    1233
Skills             1218
Unnamed: 7            0
Job_Role              0
dtype: int64

In [38]:
df2['Job_Role'] = df2['Job Title'].apply(map_job_role)

In [39]:
df2.to_excel("Top_IT_Jobs.xlsx", index = 0)