In [1]:
import pandas as pd

In [2]:
# df = pd.read_excel(r"E:\Job_Market_Analysis\Kaggle_data\Data Analyst_Science\Main_Data_Analytics_Science_Data.xlsx")
# df2 = pd.read_excel(r"E:\Job_Market_Analysis\Kaggle_data\Tech_job_Market_in_india\marketing_sample_for_indeed_co_in-indeed_co_in_job_data__20211001_20211231__30k_data.ldjson\indeed_30K_Tech_jobs_data_2.xlsx")
# df3 = pd.read_excel(r"E:\Job_Market_Analysis\Kaggle_data\Tech_job_Market_in_india\India_Job_Market_Dataset_last_1_year.xlsx")
# df4 = pd.read_excel(r"E:\Job_Market_Analysis\Kaggle_data\Tech_job_Market_in_india\Tech_Job_market_2.xlsx")
# df5 = pd.read_excel(r"E:\Job_Market_Analysis\Kaggle_data\Tech_job_Market_in_india\Tech_Jobs_Market.xlsx")
df6 = pd.read_excel(r"E:\Job_Market_Analysis\Kaggle_data\Tech_job_Market_in_india\Top_IT_Jobs.xlsx")

In [ ]:
# df.to_csv("Main_Data_Analytics_Science_Data.csv",sep=',', quoting=1, index = 0)
# df2.to_csv("indeed_30K_Tech_jobs_data_2.csv", sep=',', quoting=1, index = 0)
# df3.to_csv("India_Job_Market_Dataset_last_1_year.csv", sep=',', quoting=1, index = 0)
# df4.to_csv("Tech_Job_market_2.csv",sep=',', quoting=1, index = 0)
# df5.to_csv("Tech_Jobs_Market.csv",sep=',', quoting=1, index = 0)
df6.to_csv("Top_IT_Jobs.csv",sep=',', quoting=1, index = 0)

In [52]:
df2.head(5)
df2['Job Title'] = df2['Job Title'].str.replace(","," ")
df2['Job Title'] = df2['Job Title'].str.replace("/"," ")
# df2['Skills'] = df2['Skills'].str.replace(","," ")
# df2['Skills'] = df2['Skills'].str.replace("/"," ")
# df2['Skills'] = df2['Skills'].str[:200]
# df2.drop(columns=('Skills'),inplace=True)

In [3]:
df3['Salary'] = df3['Salary'].astype(float)

In [12]:
df8 = pd.read_excel("E:\Job_Market_Analysis\Kaggle_data\Tech_job_Market_in_india\Tech_Job_market_2.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\J'
<>:1: SyntaxWarning: invalid escape sequence '\J'
C:\Users\Gourav Banjara\AppData\Local\Temp\ipykernel_7996\1868619392.py:1: SyntaxWarning: invalid escape sequence '\J'
  df8 = pd.read_excel("E:\Job_Market_Analysis\Kaggle_data\Tech_job_Market_in_india\Tech_Job_market_2.xlsx")

In [19]:
df8
# df8['Company'] = df8['Company'].str.replace(',',"")

,Company,Job Title,Salary,Location,Job_Role
0,Sasken,Android Developer,400000.0,Bangalore,Android Developer
1,Advanced Millennium Technologies,Android Developer,400000.0,Bangalore,Android Developer
2,Unacademy,Android Developer,1000000.0,Bangalore,Android Developer
3,SnapBizz Cloudtech,Android Developer,300000.0,Bangalore,Android Developer
4,Appoids Tech Solutions,Android Developer,600000.0,Bangalore,Android Developer
...,...,...,...,...,...
24831,Maruti Suzuki,Deputy Manager/Manager - Data Engineer,NaN,Bangalore,Data Engineer
24832,Datawrkz,Data Engineer,NaN,Bangalore,Data Engineer
24833,M3 Eu,Data Analyst,NaN,Bangalore,Data Analyst
24834,Rarr Technologies,Murex Business Analyst,NaN,Bangalore,Business Analyst
24835,PSRTEK,Data Engineer,NaN,Bangalore,Data Engineer

In [21]:
# df8.to_csv("Tech_Job_market_2.csv",sep=',', quoting=1, index = 0)
df9 = pd.read_csv("E:\Job_Market_Analysis\Kaggle_data\Csv_converted_files\Tech_Job_market_2.csv", encoding='ISO-8859-1')
df9.to_csv("cleaned_file.csv", index=False, encoding='utf-8')

<>:2: SyntaxWarning: invalid escape sequence '\J'
<>:2: SyntaxWarning: invalid escape sequence '\J'
C:\Users\Gourav Banjara\AppData\Local\Temp\ipykernel_7996\3325715092.py:2: SyntaxWarning: invalid escape sequence '\J'
  df9 = pd.read_csv("E:\Job_Market_Analysis\Kaggle_data\Csv_converted_files\Tech_Job_market_2.csv", encoding='ISO-8859-1')